$font-family_1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$background-color_1: #8587ff;
$background-color_2: #fff;
$background-color_3: #a7ffaa;
$background-color_4: #ffc0c0;